<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Restaurant</title>
</head>
<body>
  <h1>Add Restaurant</h1>
  <form action="/restaurants/add" method="POST">
    <label for="name">Restaurant Name:</label>
    <input type="text" name="name">
    <label for="image">Restaurant Image URL:</label>
    <input type="text" name="image">
    <button type="submit">Add Restaurant</button>
  </form>
</body>
</html>
